In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("market_table_fake.csv")

In [3]:
df1

,PID,floorplan,video,image,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1911A,NaN,NaN,https://picsum.photos/id/237/200/300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1911B,NaN,NaN,https://picsum.photos/id/238/200/300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1912,https://picsum.photos/id/124/200/300,NaN,https://picsum.photos/id/239/200/300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2611A,NaN,NaN,https://picsum.photos/id/240/200/300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2611B,NaN,NaN,https://picsum.photos/id/241/200/300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,619-1,NaN,NaN,https://picsum.photos/id/26/200/300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,619-2,NaN,NaN,https://picsum.photos/id/11/200/300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,619-3,NaN,NaN,https://picsum.photos/id/444/200/300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df2 = pd.read_csv("Sample_Availability2.Status_VACANT.csv")

In [5]:
df2

,OneSite Rents v3.0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 39,Page 1 of 1,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48
0,7/11/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,mgt-502-002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Parameters:,NaN,NaN,NaN,NaN,Status - Vacant; Unavailable Units Included; M...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DETAIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,NaN,73-715B,NaN,NaN,NaN,NaN,0,NaN,NaN,0,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0
198,NaN,74-604A,NaN,NaN,NaN,NaN,0,NaN,NaN,0,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0
199,NaN,74-604B,NaN,NaN,NaN,NaN,0,NaN,NaN,0,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0
200,NaN,9-519A,NaN,NaN,NaN,NaN,0,NaN,NaN,1,...,NaN,NaN,0,NaN,NaN,1,NaN,NaN,NaN,0
201,NaN,Totals,NaN,NaN,NaN,NaN,10,NaN,NaN,11,...,NaN,NaN,0,NaN,NaN,28,NaN,NaN,NaN,0

In [6]:
df3 = pd.read_csv("vacancy_fake.csv")

In [7]:
df3

,PID,Address,Name,Social,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1911A,1911 S 7th Street,Jim,123-45-6789,NaN,NaN,NaN,NaN
1,1911B,1911 S 7th Street,Joe,987-65-4321,NaN,NaN,NaN,NaN
2,1912,1912 S 8th Street,Janet,555-48-9898,NaN,NaN,NaN,NaN
3,2611A,2611 S 8th Street,Jessica,123-44-5678,NaN,NaN,NaN,NaN
4,2611B,2611 S 8th Street,Jesus,111-22-3333,NaN,NaN,NaN,NaN
5,619-1,617 19th Ave S,Jerome,333-22-1111,NaN,NaN,NaN,NaN
6,619-2,619 19th Ave S,Jennifer,888-98-9876,NaN,NaN,NaN,NaN
7,619-3,621 19th Ave S,Shan'ta'ye,323-45-6446,NaN,NaN,NaN,NaN