In [2]:
import pandas as pd

In [4]:
df1 = pd.read_csv("Vacancy.csv")

In [6]:
df1.head(20)

,OneSite Rents v3.0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,08/19/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Parameters:,NaN,NaN,NaN,NaN,Status - ALL; Unavailable Units Included; Make...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DETAIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Bldg/\nUnit,NaN,NaN,NaN,NaN,NaN,Floor\nPlan,NaN,...,NaN,NaN,Comments,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Vacant Not Leased Ready (6),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,18-2618 B,NaN,NaN,NaN,NaN,NaN,18-2618B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,no amenities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,Set aside: 60%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,49-1912 A,NaN,NaN,NaN,NaN,NaN,49-1912A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,no amenities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,"Set aside: 60%, 60%",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,50-1916 A,NaN,NaN,NaN,NaN,NaN,50-1916A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
props = df1['Unnamed: 2']

In [10]:
props.head(20)

0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
5              Bldg/\nUnit
6                      NaN
7                      NaN
8                      NaN
9                      NaN
10                     NaN
11                     NaN
12                     NaN
13               18-2618 B
14            no amenities
15         Set aside:  60%
16               49-1912 A
17            no amenities
18    Set aside:  60%, 60%
19               50-1916 A
Name: Unnamed: 2, dtype: object

In [12]:
omit = ['no amenities', 'Set aside:  60%', 'Bldg/\nUnit']

In [14]:
props = props.dropna(axis = 0)

In [16]:
list_props = props.to_list()

In [18]:
list_props

['Bldg/\nUnit',
 '18-2618 B',
 'no amenities',
 'Set aside:  60%',
 '49-1912 A',
 'no amenities',
 'Set aside:  60%, 60%',
 '50-1916 A',
 'no amenities',
 'Set aside:  60%',
 '55-2611 A',
 'no amenities',
 'Set aside:  60%',
 '55-2611 B',
 'no amenities',
 'Set aside:  60%',
 '57-2615 B',
 'no amenities',
 'Set aside:  60%',
 '9-519-A',
 'no amenities',
 'Set aside:  60%',
 '15-1911',
 'no amenities',
 'Set aside:  60%',
 '22-2615',
 'no amenities',
 'Set aside:  60%',
 '27-1906B',
 'no amenities',
 'Set aside:  60%',
 '49-1912 B',
 'no amenities',
 'Set aside:  60%',
 '52-1929',
 'no amenities',
 'Set aside:  60%',
 '53-1926 B',
 'no amenities',
 'Set aside:  60%',
 '59-2711 B',
 'no amenities',
 'Set aside:  60%',
 '65-621-7',
 'no amenities',
 'Set aside:  60%',
 '65-621-9',
 'no amenities',
 'Set aside:  60%',
 '24-1809',
 'no amenities',
 'Set aside:  60%',
 '66-627B',
 'no amenities',
 'Set aside:  60%',
 '68-705B',
 'no amenities',
 'Set aside:  60%',
 '71-706',
 'no amenities',
 'Set aside:  60%',
 '16-1913 A',
 'no amenities',
 'Set aside:  60%',
 '30-2605',
 'no amenities',
 'Set aside:  60%',
 '25-1817',
 'no amenities',
 'Set aside:  60%']

In [20]:
clean_props = [item for item in list_props if item not in omit]

In [22]:
clean_props

['18-2618 B',
 '49-1912 A',
 'Set aside:  60%, 60%',
 '50-1916 A',
 '55-2611 A',
 '55-2611 B',
 '57-2615 B',
 '9-519-A',
 '15-1911',
 '22-2615',
 '27-1906B',
 '49-1912 B',
 '52-1929',
 '53-1926 B',
 '59-2711 B',
 '65-621-7',
 '65-621-9',
 '24-1809',
 '66-627B',
 '68-705B',
 '71-706',
 '16-1913 A',
 '30-2605',
 '25-1817']

In [34]:
props_df = pd.DataFrame(clean_props, columns = ['id'])

In [36]:
props_df.to_excel('Available_Properties.xlsx', index=False)